<!DOCTYPE html>
<html>
<head>
    <title>Create Image</title>
</head>
<body>
    <h1>Create Image</h1>
    <form action="/makeimage" method="post">
        <label for="width">Width:</label>
        <input type="text" id="width" name="width"><br><br>
        <label for="height">Height:</label>
        <input type="text" id="height" name="height"><br><br>
        <label for="text">Text:</label>
        <input type="text" id="text" name="text"><br><br>
        <input type="submit" value="Create Image">
    </form>
</body>
</html>
